<html>
<header>
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="../scripts/script.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
   <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">

</header>
<body>


<nav class="main-nav navbar-fixed-top navbar-default" role="navigation" margin-left= "210px" background-color="#ffffff";>
         <div class="container-fluid" >
         <ul class="nav navbar-nav" >

           <a href="base.html"><div id="logo"></div></a>

          <li class="nav-item"><a class="page-scroll"  href="../index.html"><h3> Profile<h3></a></li>
		  <li class="nav-item"><a class="page-scroll"  href="https://github.com/SShivang" target="_blank" ><h3>Projects</h3></a></li>

         <li class="nav-item"><a class="page-scroll"  href="../media/Shivang_ Singh_Resume_Sept2017.pdf" target="_blank"><h3>Resume<h3></a></li>

           <li class="nav-item"><a class="page-scroll" href="mailto:shivang.singh.tx@gmail.com" target="_blank"><h3>Contact<h3></a><li>
		 </ul> 
     </div>
    </nav>
	
		<h2 class="short-desc-h2 about-h2"> Education </h2>
		
		<p>Hi! My name is Shivang and I'm a senior at the Liberal Arts and Science Academy in Austin, Texas. 
			Graduation Date: May 2017 
			Class Rank: Top 10%       GPA: 4.47    
			
</p>
		
	  

  
	
    <div class="row">

      <div class="col-sm-12 text-center" id="about-row-2">
         
       

          <div class="text-container" id="resume-skills">

            <h2 class="short-desc-h2 about-h2"> Education </h2>
              
	
			University of Texas at Austin <br> 
			
			BS in Computer Science 
			  
			  
            <div id = "ul-container">

            <div class="skill-div">

              

            </div>
			


  <h3> Links </h3>
  <a  href="../media/Shivang_ Singh_Resume_Sept2017.pdf">Resume</a> <br>
  <a href="https://www.linkedin.com/pub/SShivang">LinkedIn</a> <br>
  <a href="/blog">Blog</a><br>
  <a href="/portfolio">Portfolio</a><br>

  
    
</body>
</html>
